/* style.css */
.custom-card {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 10%;
    margin-top: 1%;
    height: 80vh;
    text-align: center;
    border-radius: 30px;
    border-width: 3px;
}

.custom-card-header-tab {
    margin-left: 2%;
}

.custom-card-header {
    border-bottom: 1px solid #000; /* 黑色竖线 */
}


.custom-vertical-line {
    border-right: 2px solid #000; /* 黑色竖线 */
}

.custom-footer{
    border-top: 2px solid #000; /* 黑色竖线 */
    margin-bottom: 13%; /* 设置横线下方的边距 */
}

body {
    background-color: #f2e49f; /* 您选择的颜色 */
}
